<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Elmers</string>
	<key>CFBundleExecutable</key>
	<string>Elmers</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.elmers.clipboard</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>he</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt-BR</string>
		<string>pt-PT</string>
		<string>ru</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleName</key>
	<string>Elmers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
